<ol class="breadcrumb">
    <li class="breadcrumb-item"><a >Tiện ích</a></li>
    <li class="breadcrumb-item active" >Dịch vụ khách hàng</li>
</ol>

<div id="invoiceTemplateVariation" class="page-content">
    <div class="card mb-1">
        <div class="card-header">
            <a data-toggle="collapse" href="#invoice-template-variation" aria-expanded="true"><span>THÔNG TIN TÌM KIẾM</span></a>
        </div>
        <div id="search" class="collapse show">
            <div class="card-body">
                <form [formGroup]="form" *ngIf="form" autocomplete="off">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row" >
                                    <label class="col-sm-3 form-control-label text-right required"
                                        >Mã số thuế</label>
                                    <div class="col-sm-9">
                                        <input type="text"  class="form-control" 
                                                formControlName="taxCode" />
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row" >
                                    <label class="col-sm-3 form-control-label text-right required"
                                            >Mẫu hóa đơn</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" formControlName="invoiceTemplate"
                                                />
                                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label text-right"
                                        >Mẫu chuẩn mới</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" formControlName="newInvoiceTemplate"
                                               (blur)="trimSpace('newInvoiceTemplate')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right"
                                        jhiTranslate="invoiceTemplateVariation.newDiscount">
                                        Loại chiết khấu mới</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" formControlName="newDiscount">
                                            <option *ngFor="let discount of newDiscount" 
                                                    [selected]="discount.name === ngSelect"   
                                                    [value]="discount.id">
                                                {{discount.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right"
                                           jhiTranslate="invoiceTemplateVariation.newTax">
                                           Loại thuế mới</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" formControlName="newTax" >
                                            <option *ngFor="let tax of newTax"
                                                    [selected]="tax.name === ngSelect"   
                                                    [value]="tax.id">
                                                {{tax.name}}
                                            </option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right"
                                           jhiTranslate="invoiceTemplateVariation.qrCodeType">
                                           Loại QR Code</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" formControlName="qrCodeType">
                                            <option *ngFor="let code of qrCodeType"
                                                    [selected]="code.name === ngSelect"
                                                    [value]="code.id">{{code.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>   
                        </div>
            
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" (click)="onCloseAddModal()">
                                <i class="fa fa-times mr-2" aria-hidden="true"></i><span
                                    jhiTranslate="common.button.confirm.cancel">
                                Hủy bỏ</span>
                            </button>
                            <button type="submit" class="btn btn-primary" (click)="save()">
                                <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span
                                    jhiTranslate="common.button.confirm.save">
                                Ghi lại</span>
                            </button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>